@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 196 100% 42%;
    --primary-foreground: 0 0% 100%;

    --secondary: 270 86% 38%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 60%;

    --accent: 196 90% 75%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 15%;
    --ring: 196 100% 42%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border selection:bg-zerox-blue/10 selection:text-white;
  }
  
  body {
    @apply bg-zerox-dark text-foreground antialiased;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02", "cv03";
  }

  html {
    @apply scroll-smooth;
  }

  .glass-card {
    @apply bg-zerox-light/90 backdrop-blur-md border border-white/10 shadow-lg;
  }

  .gradient-text {
    background: linear-gradient(123deg, rgba(212, 223, 232, 0.77), rgba(58, 116, 152, 1), rgba(0, 43, 77, 1));
    -webkit-background: linear-gradient(123deg, rgba(212, 223, 232, 0.77), rgba(58, 116, 152, 1), rgba(0, 43, 77, 1));
    -moz-background: linear-gradient(123deg, rgba(212, 223, 232, 0.77), rgba(58, 116, 152, 1), rgba(0, 43, 77, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .gradient-border {
    @apply relative before:absolute before:inset-0 before:p-[1px] before:bg-gradient-to-r before:from-zerox-blue before:to-zerox-purple before:rounded-md before:-z-10 before:content-[''] z-0;
  }

  .custom-gradient-text {
    background: linear-gradient(123deg, rgba(212, 223, 232, 0.77), rgba(58, 116, 152, 1), rgba(0, 43, 77, 1));
    -webkit-background: linear-gradient(123deg, rgba(212, 223, 232, 0.77), rgba(58, 116, 152, 1), rgba(0, 43, 77, 1));
    -moz-background: linear-gradient(123deg, rgba(212, 223, 232, 0.77), rgba(58, 116, 152, 1), rgba(0, 43, 77, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  code, pre {
    font-family: 'JetBrains Mono', monospace;
  }
}
